<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>JPQL Console</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker.validation.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
</head>
<body>
	
	<div class="container">
	<h1>JPQL Console</h1> 
	
    <form action="#" id="form" th:action="@{/jpql/console}" method="post" class="form-horizontal">    	
		<div class="container">	 
		<button class="btn" data-toggle="collapse" data-target="#demo">Ver Diagrama de Clases</button>
		<a target="_new" href="https://github.com/ignaciopaz/jpql-console"><img height="25" src="/img/githublogo.jpg" class="img-responsive" alt="Código"/></a>
		<div id="demo" class="collapse"> 
			<img src="/img/libros-dcd.jpg" class="img-responsive" alt="Libros DCD"/>
		</div> 
		 <div class="form-group">
		  <label for="jpql">Consulta JPQL:</label>
		  <textarea class="form-control" th:text="${jpql}" rows="5" cols="100" id="jpql" name="jpql"></textarea>
		  <input type="submit" value="Enviar" class="btn btn-primary"/>
		</div>	 
		</div>
    </form>
      <div th:if="${exception != null}" class="alert alert-danger">
			<span th:text="${exception.message}"></span>
	  </div>
	  <div th:if="${results != null}" class="alert alert-warning" th:text="${'Resultados: ' + #lists.size(results)}">
	  </div>
	  <div>
		  <div class="form-group">
			  <table class="table table-hover table-striped">
			    <thead>
			      <tr>
			      	 <th th:each="h : ${headers}" th:text="${h}">
			        </th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr th:each="r : ${results}">
			        <td th:each="v : ${r}" th:text="${v}">
			        </td>
				</tr>
				 
			    </tbody>
			  </table>
			   
		  </div>
		</div>
	</div>    
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>